<!-- footer -->
<div class="footer bg-white">
    <div class="before-footer text-center">
        <small class="text-primary">Cảm ơn vì luôn tin tưởng và lựa chọn chúng tôi.</small>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-3 text-blue">
                <h4 class="mb-4">Về VNREST</h4>
                <div class="text">
                    <p>Đưa đến chất lượng sản phẩm tốt nhất với một giá thành hợp lí nhất. Luôn đặt khách hàng
                        là
                        tiêu
                        chuẩn hàng đầu. Tự hào là nhà hàng nhận được sự hài lòng của 99,99% khách hàng!</p>
                </div>

            </div>
            <div class="col-3">

                <div class="mt-5 text">
                    <p><strong>Điện thoại:</strong> 0855494217</p>
                    <p><strong>Email:</strong> mdr3132003@gmail.com</p>
                </div>
            </div>
            <div class="col-3">
                <h4 class="mb-4">Hỗ trợ khách hàng</h4>
                <ul class="text">
                    <li>Tìm kiếm</li>
                    <li>Giới thiệu</li>
                    <li>Chính sách bảo mật</li>
                    <li>Điều khoản dịch vụ</li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="mb-4">Chăm sóc khách hàng</h4>
                <div class="row">
                    <i class="fa fa-volume-control-phone ml-3" style="font-size:48px;color:red"></i>
                    <div class="ml-3 text">
                        <p>0855494217</p>
                        <p>mdr3132003@gmail.com</p>
                    </div>
                </div>
                <h4>Follow us </h4>
                <a href="https://www.facebook.com/profile.php?id=100023576839796"><button type="button"
                        class="btn btn-outline-dark mr-2"><i class="fa fa-facebook px-1"></i></button></a>
                <a href="https://www.facebook.com/profile.php?id=100023576839796"><button type="button"
                        class="btn btn-outline-dark mr-3"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100023576839796"><button type="button"
                        class="btn btn-outline-dark "><i class="fa fa-twitter"></i></a>

            </div>
        </div>
    </div>
</div>
<!-- end footer -->