<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/stylesheets/admin/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/admin/admin.css" rel="stylesheet">
    <link href="/stylesheets/toastr.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('./partials/admin/sidebar.ejs') %>
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    <%- include('./partials/admin/topbar.ejs') %>
                        <!-- Content Wrapper -->
                        <div class="container">
                            <h1 class="my-4 text-center text-primary">Manage-Order</h1>
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col col-sm-9 text-dark">
                                            <h4><strong>List Order</strong></h4>
                                        </div>
                                        <div class="col col-sm-3">
                                            <button type="button" id="add_data"
                                                class="btn btn-success btn-sm float-end">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="sample_data">

                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Date Init</th>
                                                    <!-- <th>Date Order</th> -->
                                                    <th>User Phone</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End of Content Wrapper -->

                </div>
                <!-- End of Page Wrapper -->

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
            </div>
            <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <%- include('./partials/admin/logout.ejs') %>

</html>
<div class="modal" id="action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="sample_form" enctype="multipart/form-data">
                <div class="modal-header" id="dynamic_modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Booking Name</label>
                        <input type="text" name="booking_name" id="booking_name" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Booking Phone</label>
                        <input type="text" name="booking_phone" id="booking_phone" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Food Orders</label>
                        <select id="order_items" name="orders[]" multiple="multiple">
                        </select>
                    </div>
                    <div class="list-item">


                    </div>
                    <div class="list-table my-3">
                        <p>Order Table</p>
                        <div class="d-flex">
                            <div class="col-md-6">
                                <select id="floor" name="floor">
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="order_table" name="order_table">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list-date my-3">
                        <p>Pick a Date:</p>
                        <input type="text" id="pickadate" class="form-control" />
                    </div>
                    <div class="list-date my-3">
                        <p>Pick Time:</p>
                        <select id="order_times" name="times" multiple="multiple">
                            <option value="8">8:00</option>
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="action" id="action" value="Add" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="action_button">Add</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/javascripts/admin/listOrder.js"></script>
<!-- Custom scripts for all pages-->
<script src="/javascripts/admin-size.js"></script>
<script src="/javascripts/toastr.js"></script>



</body>